[submodule "lib/libmysqlclient"]
	path = lib/libmysqlclient
	url = git://github.com/Sannis/node-mysql-libmysqlclient.git
[submodule "lib/node-mysql"]
	path = lib/node-mysql
	url = git://github.com/felixge/node-mysql.git
[submodule "lib/node-riak"]
	path = lib/node-riak
	url = git@github.com:mauritslamers/node-riak
[submodule "lib/node-couchdb"]
	path = lib/node-couchdb
	url = git@github.com:mauritslamers/node-couchdb.git
[submodule "lib/node-ldap"]
	path = lib/node-ldap
	url = git://github.com/jeremycx/node-LDAP.git
